﻿@model IEnumerable<WebApplication1.games>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Games</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.game_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.critics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.games_consoles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pegi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.developpers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editors)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @item.game_id
            </th>
            <th>
                @item.critics
            </th>
            <th>
                @item.games_consoles
            </th>
            <th>
                @item.name
            </th>
            <th>
                @item..pegi
            </th>
            <th>
                @item.description
            </th>
            <th>
                @item.developpers
            </th>
            <th>
                @item.editors
            </th>
            <th></th>
        </tr>
    }
    </table>