﻿
@{
    ViewBag.Title = "Index";
    JCModelEntities db = new JCModelEntities();
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var games = db.games.Count();
    var devs = db.developpers.Count();
    var editors = db.editors.Count();
    var commentaires = db.comments.Count();
    var critiques = db.critics;
    int count = 1;
}

<h2 class="text-center">Panel d'administration</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-gamepad fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@games</div>
                                <div>Jeux dans la base de données</div>
                            </div>
                        </div>
                    </div>
                    <a href="/Admin/Games">
                        <div class="panel-footer">
                            <span class="pull-left">Voir les jeux</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="/Games/Create">
                        <div class="panel-footer">
                            <span class="pull-left">Créer un jeu</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <a href="/Games">
                        <div class="panel-footer">
                            <span class="pull-left">Aller à la liste des jeux côté front-office</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@commentaires</div>
                                <div>Commentaires</div>
                            </div>
                        </div>
                    </div>
                    <a href="/Comments">
                        <div class="panel-footer">
                            <span class="pull-left">Voir les détails </span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@editors</div>
                                <div>Editeurs</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <img style="height:50px;" src="~/Content/images/admin/devs.png" />
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@devs</div>
                                <div>Developpeurs</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    
                    <th>Titre</th>
                    <th>Etat de publication</th>
                    <th>Contenu</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in critiques) {
                <tr>
                    <th scope="row">@item.title</th>
                    <th>@if (item.is_published == true) { @Html.Raw("Critique publiée") } else { @Html.Raw("Critique non publiée") }</th>
                    <td>@if (item.critic_content.Length > 400)
                    {
                        @Html.Raw(item.critic_content.Substring(0, 400) + "...");
                    }
                    else {
                        @Html.Raw(item.critic_content);
                    }</td>
                    <td><a href="/critics/Edit/@item.critic_id">Editer </a>| <a href="/critics/Delete/@item.critic_id">Supprimer </a>|  <a href="/critics/ShowCritic/@item.critic_id">Voir la critique </a></td>
             
                </tr>
                 
                }
            </tbody>
        </table>
        <a href="/critics/Create" style="float:right">Créer un article</a>
</div>