﻿@model WebApplication1.games_consoles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>games_consoles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jaquette)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jaquette)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.consoles.console_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.consoles.console_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.games.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.games.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
