﻿@model WebApplication1.games_consoles

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>games_consoles</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_game)

        @Html.HiddenFor(model => model.id_console)

        <div class="form-group">
            @Html.LabelFor(model => model.jaquette, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.jaquette, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.jaquette, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.id_games_consoles)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
