﻿/*



---------------------------------------------------------------------------------------------------



Articles



---------------------------------------------------------------------------------------------------



    - Stylesheet pour les articles de base -



*/


.post-article {
    line-height: 1.5em;
    background:#fff;
    border-radius: 5px 5px;
    border: rgba(0,0,0,0.35) 1px solid;
    box-shadow: 2px 2px 2px 0px #337ab7;
    font-size: 16px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    color: #000000;
    margin-bottom: 50px;
}


.post-image {
    width:100%;
}

.overlay {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    font-size: 18px;
	padding-left: 20px;
    background: rgba(255, 255, 255, 0.75);
    font-weight: bolder;

}   
.rel {
	position: relative;
}

.overlay > h1 {
    
	font-size: 26px;
}


.avatar-96 {
    float: left;
    width: 64px;
    height: 64px;
    margin-top: 10px;
    margin-right: 10px;
}







.avatar-96 {
    border-radius: 25px;
    float: left;
    color: rgba(253, 130, 0, 0.100);
}







.sharing {
    float: right;
    width: 200px;
    height: 30px;
}



    .sharing > a > img {
        height: 50px;
    }











    .sharing > a {
        opacity: 1;
        transition: opacity 1s;
    }







        .sharing > a:hover {
            opacity: 0.6;
            transition: opacity 1s;
        }







.title-article {
    word-wrap: break-word;
}







.sharing img {
    float: right;
    padding: 10px 0 0 10px;
}







.author {
    border-top: dashed 1px #337ab7;
    border-bottom: dashed 1px #337ab7;
    margin-bottom: 25px;
}







.author-name-datehour {
    padding: 20px 0 20px 0;
    font-family: "Francois One", arial, sans-serif;
    text-transform: uppercase;
}







.crop {
    height: auto;
    overflow: hidden;
}







.modification {
    display: inherit;
}







.tags {
    padding: 10px 0 10px 0;
    height:600px;
    border-top: dotted 1px #337ab7;
}







article h1 {
    font-family: "Francois One";
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}
article a {
    color:#000;
}






.label {
    color: #000000;
}



.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
}





article p:first-child {
    padding-top: 20px;
}







article p {
    padding-top: 10px;
}







    article p:first-child::first-letter {
        float: left;
        font-size: 50px;
        font-weight: bold;
        font-family: Tahoma, Arial, sans-serif;
        color: #4682b4;
        text-align: center;
        border: 1px solid #4682b4;
        font-weight: bold;
        line-height: 1em;
        padding: 2px 15px 2px 15px;
        margin: 5px 10px 10px 0;
        box-shadow: 2px 2px 2px 2px;
        text-transform: uppercase;
    }







/* Partie commentaire */



.article-commentaire {
    text-align: justify;
    border-radius: 5px 5px;
    border: rgba(0,0,0,0.35) 1px solid;
    background:#fff;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    color: #000000;
}







.article-commentaire-title {
    border-bottom: dashed 1px #337ab7;
    font-family: "Francois One";
    font-size: 24px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    display: block;
    text-transform: uppercase;
}

/* Comment form */

#commentForm {
    border-top: dashed 1px #337ab7;
    padding: 13px;
}



    #commentForm h1 {
        color: #337ab7;
        font-size: 20px;
        margin-bottom: 19px;
    }



    #commentForm input,
    #commentForm textarea {
        border: solid 1px #337ab7;
        color: #000;
    }

    #commentForm textarea {
        width: 100%;
        height: 135px;
    }

    #commentForm label {
        display: block;
        color: #337ab7;
        text-transform: uppercase;
    }

    #commentForm input {
        width: 200px;
        height: 18px;
        margin-bottom: 10px;
        padding: 2px 0 0 5px;
    }

    #commentForm #submit {
        width: 135px;
        height: auto;
        margin: 0;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        background: #FF0054;
        border: none;
        font-size: 12px;
        line-height: 18px;
        cursor: pointer;
    }

    #commentForm .submit {
        text-align: right;
        margin-top: 10px;
    }





    #commentForm p:hover input, #commentForm p:hover textarea, #commentForm input:focus, #commentForm textarea:focus {
        border-color: rgba(255, 131, 0, 1);
    }

    #commentForm p:hover label {
        color: rgba(255, 131, 0, 1);
    }



.admin-commentaire {
    float: right;
}





/* Systeme de quote */



.quoteLeft, .jaquette-float img {
    float: left;
    margin: 0 50px 35px 0;
    width: auto;
    width: 100%;
    box-shadow: 20px 10px 20px 2px;
}







.quoteRight {
    float: right;
    margin: 0 0 35px 50px;
    width: auto;
    max-width: 400px;
    box-shadow: -20px 10px 20px 2px;
}







.quote {
    font-style: italic;
    background-color: rgba(0,0,255,0.05);
    color: #639ed1;
    border-radius: 5px;
    border: 1px dotted #639ed1;
    display: block;
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 20px;
}







/* Jeux dans Article : type news ou critique - phase de test */



article h2 {
    text-shadow: 2px 2px rgba(0,0,0,0.20);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Francois One", arial, sans-serif;
}







.jeux-associe {
    margin: 0px;
    padding: 0px;
    border-top: 1px dotted #639ed1;
    padding: 10px 0 5px 0;
    margin-bottom: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: rgba(0,0,255,0.03);
}







.jaquette-float-header {
    width: 125px;
}







.liens-associes-header {
    float: right;
    border-bottom: 1px solid #639ed1;
}







.jaquette-float {
    margin-left: 10px;
}







.liens-associes {
    margin-left: 160px;
    border-left: 1px dotted #639ed1;
}







    .liens-associes li {
        margin: 0px;
        line-height: 2.5em;
        border-bottom: 1px dotted #639ed1;
        list-style: none;
    }







        .liens-associes li:hover {
            background: #fff;
        }







    .liens-associes ul {
        padding-left: 0px;
    }







    .liens-associes li:last-child {
        border-bottom: none;
    }







article h3 {
    font-size: 42px;
    text-align: center;
    font-weight: bolder;
    line-height: 1.8em;
    text-transform: uppercase;
    font-family: "Francois One", arial, sans-serif;
}







.jaquette-float img {
    width: 125px;
    float: left;
    width: 125px;
    box-shadow: 10px 5px 10px 1px;
}







.wp-caption {
}







.alignright {
    float: right;
    margin: 0 0 35px 15px;
    width: auto;
    max-width: 400px;
    box-shadow: -2px 10px 20px 2px;
    color: #337ab7;
    border-radius: 5px;
}







.alignleft {
    float: left;
    margin: 2px 15px 35px 0;
    width: auto;
    max-width: 400px;
    box-shadow: -2px 10px 20px 2px;
    color: #337ab7;
    border-radius: 5px;
}







.wp-caption-text {
    color: #000;
    margin: 0 5px 0px 5px;
    padding-bottom: 10px;
    font-style: italic;
}



.img-article-large {
}

.image-gallery li {
    text-decoration: none;
    display: inline-block;
    padding-left: 2px;
}

.image-gallery::before {
    content: "Contenu imagé";
    display: block;
    font-weight: bolder;
}
