﻿
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    JCModelEntities db = new JCModelEntities();
    string search = ViewBag.search;
    var games = db.games.Where(x => x.name.Contains(search));
    var critiques = db.critics.Where(x => x.is_published == true).Where(x => x.title.Contains(search));
    var commentaires = db.comments.Where(x => x.comment.Contains(search));

}


@{
    if (ViewBag.search != "")
    {
        <h2 class="text-center">Résultats de la recherche "@ViewBag.search"</h2>
        <div class="container row">
            <div class="col-lg-3">
                <p> Dans les jeux vidéo : @games.Count() éléments</p>
                <hr />
                <p> Dans les critiques: @critiques.Count() éléments</p>
                <hr />
                <p> Dans les critiques: @commentaires.Count() éléments</p>
                <hr />
            </div>
            <div class="col-lg-9">
                <h1 class="text-center">Dans les jeux</h1>
                @foreach (var item in games)
                {

                    <div class="col-lg-12 row">
                        
                        <div class="col-lg-12">
                            <h1 class="text-center">
                                <a href="/Games/Details/@item.game_id" target="_self">
                                    @Html.DisplayFor(modelItem => item.name)
                                </a>
                            </h1>
                            <br />
                        </div>
                        <div class="col-lg-2">
                            <img src="~/Images/@item.jacket" class="image-elements" />
                        </div>

                        <div class="col-lg-10">
                            <div class="col-lg-6">
                                La norme européenne PEGI :
                                <br />
                                <a href="http://www.pegi.info/be_fr/index/id/837/" target="_blank"><i class="fa fa-info-circle" style="color:cornflowerblue"></i> Comprendre la norme PEGI</a>
                            </div>
                            <div class="col-lg-6">
                                @switch (int.Parse(item.pegi))
                            {
                                case 3:
                            <a href="#" title="Avec cette classification, le contenu du jeu est considéré comme adapté à toutes les classes d'âge. Une certaine violence dans un contexte comique (par exemple les formes de violence présentes dans les dessins animés de type cartoon comme Bugs Bunny ou Tom & Jerry) est acceptable. L’enfant ne doit pas pouvoir associer le personnage à l'écran avec des personnages réels, ils doivent être totalement imaginaires. Le jeu ne doit pas comporter de sons ou d’images susceptibles d’effrayer ou de faire peur à de jeunes enfants.Le jeu ne doit faire entendre aucun langage grossier."><img src='~/Content/images/pegi/pegi-3.gif' /></a>;
                                    break;
                                case 7:
                            <img src='~/Content/images/pegi/pegi-7.gif' />;
                                    break;
                                case 12:
                            <img src='~/Content/images/pegi/pegi-12.gif' />;
                                    break;
                                case 16:
                            <img src='~/Content/images/pegi/pegi-16.gif' />;
                                    break;
                                case 18:
                            <img src='~/Content/images/pegi/pegi-18.gif' />;
                                    break;
                                default:
                            <p>Aucune signalétique PEGI connue pour le moment.</p>;
                                    break;
                            }
                            </div>
                            <br />

                            <br />
                            <div class="col-lg-12">

                            </div>
                            <br />
                            
                        </div>
                    </div>
                    <hr />

                }
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-9" style="margin-top:20px">
                <h1 class="text-center">Dans les critiques</h1>
                @{
                    foreach (var item in critiques)
                    {
                        if (item.is_published == true)
                        {
                            <div class="col-lg-12 row">
                                
                                <div class="col-lg-2">
                                    <a href="/Games/Details/@item.games.game_id">
                                        <img src="~/Images/@item.games.jacket" style="width:100%"/>
                                    </a>
                                </div>
                                <div class="col-lg-10">
                                    <h2>@item.title</h2>
                                </div>
                                <div class="col-lg-12">
                                    @if (item.critic_content.Length > 600)
                                    {
                                        @Html.Raw(item.critic_content.Substring(0, 600) + "...");
                                    }
                                    else {
                                        @Html.Raw(item.critic_content);
                                    }
                                </div>
                                <br />
                                <p class="text-center"><a href="/critics/Details/@item.critic_id" target="_self">Voir la suite de la critique de @item.games.name ?</a></p>
                            </div>
                            <hr />
                        }
                    }
                }

            </div>

            <div class="col-lg-3"></div>

            <div class="col-lg-9" style="margin-top:20px">
                <h1 class="text-center">Dans les commentaires</h1>
                @{
                    foreach (var item in commentaires)
                    {
                        if (item.is_published == true)
                        {
                            <div class="col-lg-12 row">

                                <div class="col-lg-2">
                                    <a href="/Critics/Details/@item.critics.critic_id">
                                        <img src="~/Images/@item.critics.games.jacket" style="width:100%" />
                                    </a>
                                </div>
                                <div class="col-lg-10">
                                    <a href="/Critics/Details/@item.critics.critic_id">
                                        <h2>Dans la critique @item.critics.title</h2>
                                    </a>
                                    <p>Message du commentaire : @item.comment</p>
                                </div>
                            </div>
                            <hr />
                        }
                    }
                }

            </div>
        </div>
        } else {
            <h2 class="text-center">Veuillez taper une recherche.</h2>
        }



} 


