﻿
@{
    ViewBag.Title = "UploadImg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("UploadImg", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="FileUpload1" /><br />
    <input type="file" name="FileUpload2" /><br />
    <input type="file" name="FileUpload3" /><br />
    <input type="file" name="FileUpload4" /><br />
    <input type="file" name="FileUpload5" /><br />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
    

