﻿@{ 
    ViewBag.Title = "Critique de medias de jeux vidéo";
}
<div class="col-lg-6">
    <h2 class="site-web">Tests réalisés par <img src="http://www.gamekult.com/i/gklogo.png" alt="Jeux vidéo" style="width:200px;"/></h2>
    <hr />
    @foreach (var gk in (List<WebApplication1.Models.GKModel>)ViewBag.Gamekult)
    {
        <img src="@gk.img" class="col-lg-3" />
        <h2 class="col-lg-9"><a href="@gk.lien" target="_blank">@gk.titre</a></h2>
        <p>@gk.description</p>
        <p style="float:right;">Par @gk.auteur</p>
        <p>Le @gk.datePublication.Day/@gk.datePublication.Month/@gk.datePublication.Year à @gk.datePublication.Hour:@gk.datePublication.Minute</p>
        <hr />
    }
</div>
<div class="col-lg-6">
    <h2 class="site-web">Tests réalisés par <img src="http://www.gameblog.fr/images/header/gb_logo.png" alt="Jeux vidéo" /></h2>
    <hr />
    @foreach (var gb in (List<WebApplication1.Models.GKModel>)ViewBag.Gameblog)
    {
        <h2 class="col-lg-12"><a href="@gb.lien" target="_blank">@gb.titre</a></h2>
        <p>@Html.Raw(gb.description)</p>
        <p style="float:right;">@gb.auteur</p>
        <p>Le @gb.datePublication.Day/@gb.datePublication.Month/@gb.datePublication.Year à @gb.datePublication.Hour:@gb.datePublication.Minute</p>
        <hr />
    }
</div>