﻿@model WebApplication1.critics
@{ 
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Create</h2>
@using (Html.BeginForm("Create", "critics", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
 @Html.AntiForgeryToken()

                <div class="form-horizontal">
        <h4>critics</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.title, "Titre de la critique", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div>@Html.LabelFor(model => model.critic_header, "image de la critique", htmlAttributes: new { @class = "control-label col-md-2" }))</div>
            <div class="col-md-10">
                <input type="file" name="critic_header" accept="image/*" />
                @Html.ValidationMessageFor(model => model.critic_header, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subtitle, "Sous-titre de la critique", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.subtitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.subtitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.critic_content, "Contenu de votre critique", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.critic_content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.critic_content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.critic_date_published, "Date de publication de la critique", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.critic_date_published, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.critic_date_published, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.critic_date_reviewed, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.is_published, "Etat de la publication", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.is_published)
                    @Html.ValidationMessageFor(model => model.is_published, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.game_id, "Jeu concerné", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("game_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.game_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer la critique" class="btn btn-default" />
            </div>
        </div>
    </div>
 
})


<div>
    @Html.ActionLink("Retourner à l'administration des critiques", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
