﻿@model WebApplication1.critics


@{
    ViewBag.Title = Model.title;
    JCModelEntities db = new JCModelEntities();
    var commentaire = db.comments.Where(x => x.id_critic == Model.critic_id);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <article class="post-article" role="article">
        <header>
            @if (Request.IsAuthenticated)
            {
                <a href="/critics/Edit/@Model.critic_id" class="btn btn-default edit-post"><i class="icon-pencil icon-white"></i> Editer l'article</a>
                <a href="/critics/Delete/@Model.critic_id" class="btn btn-danger">Supprimer l'article</a><br /><br />
            }

            <div class="crop rel">
                @if (Model.critic_header != null)
                {
                    <img src="~/Images/@Model.critic_header" class="post-image" />
                }
                
                <div class="overlay">
                    <h1 class="title-article">


                        <br />
                        @Html.DisplayFor(model => model.title)
                        <br />
                        @Html.DisplayFor(model => model.subtitle)


                    </h1>

                </div>
            </div>

            <div>

                <br />

            </div>

            <div class="author">

                <div class="author-name-datehour">

                    Le @Html.DisplayFor(model => model.critic_date_published)

                    <br />

                    <br />

                </div>

            </div>

        </header>

        <div class="text-justify">

            @Html.Raw(Model.critic_content)



        </div>

        <div style="padding-bottom: 50px;">

        </div>

        <footer>

            <div class="tags row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        <a href="/Games/Details/@Model.games.game_id" target="_self">
                            @Html.DisplayFor(modelItem => Model.games.name)
                        </a>
                    </h1>
                    <br />
                </div>
                <div class="col-lg-2">
                    <img src="~/Images/@Model.games.jacket" class="image-elements" />
                </div>

                <div class="col-lg-10 row">
                    <div class="col-lg-4">
                        La norme européenne PEGI :
                        <br />
                        <a href="http://www.pegi.info/be_fr/index/id/837/" target="_blank"><i class="fa fa-info-circle" style="color:cornflowerblue"></i> Comprendre la norme PEGI</a>
                    </div>
                    <div class="col-lg-8">
                        @switch (int.Parse(Model.games.pegi))
                        {
                            case 3:
                                <a href="#" title="Avec cette classification, le contenu du jeu est considéré comme adapté à toutes les classes d'âge. Une certaine violence dans un contexte comique (par exemple les formes de violence présentes dans les dessins animés de type cartoon comme Bugs Bunny ou Tom & Jerry) est acceptable. L’enfant ne doit pas pouvoir associer le personnage à l'écran avec des personnages réels, ils doivent être totalement imaginaires. Le jeu ne doit pas comporter de sons ou d’images susceptibles d’effrayer ou de faire peur à de jeunes enfants.Le jeu ne doit faire entendre aucun langage grossier."><img src='~/Content/images/pegi/pegi-3.gif' /></a>;
                                break;
                            case 7:
                                <img src='~/Content/images/pegi/pegi-7.gif' />;
                                break;
                            case 12:
                                <img src='~/Content/images/pegi/pegi-12.gif' />;
                                break;
                            case 16:
                                <img src='~/Content/images/pegi/pegi-16.gif' />;
                                break;
                            case 18:
                                <img src='~/Content/images/pegi/pegi-18.gif' />;
                                break;
                            default:
                                <p>Aucune signalétique PEGI connue pour le moment.</p>;
                                break;
                        }
                </div>
                    <br />
                    <div class="col-lg-4">Description du jeu :  </div> 
                    <div class="col-lg-8">@Html.Raw(Model.games.description) </div>
                    <br />
                    <div class="col-lg-4">Fait par : </div> 
                    <div class="col-lg-8">
                        @Html.DisplayFor(model => model.games.developpers.name)
                    </div>
                    <br />
                    <div class="col-lg-4">Edité par : </div> 
                    <div class="col-lg-8">
                        @Html.DisplayFor(model => model.games.editors.name)
                    </div>
                <br />  
            </div>
            <div class="col-lg-12">
                <div style="float:left">
                    Noter le jeu
                    <div class="rating">
                        <input type="radio" name="starsrating" id="stars-rating-5" value="5">
                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                        <input type="radio" name="starsrating" id="stars-rating-4" value="4">
                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                        <input type="radio" name="starsrating" id="stars-rating-3" value="3">
                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                        <input type="radio" name="starsrating" id="stars-rating-2" value="2">
                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                        <input type="radio" name="starsrating" id="stars-rating-1" value="1">
                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                    </div>
                </div>
</div>
</div>
    </footer>

</article>
    <div class="col-xs-12 article-commentaire">
        <span class="article-commentaire-title">
            Réagir ? 

        </span>
        <div class="col-lg-12">
            @if (Model.comments.Count == 0)
            {
                <p>Pas encore de commentaires</p>
            }
            else if (Model.comments.Count == 1)
            {
                <p> un commentaire</p>
            }
            else {
                <p> @Model.comments.Count commentaires </p>
            }
        </div>
        <div class="col-lg-12">
            @if (Model.comments.Count != 0)
            {
                foreach (var comm in Model.comments)
                {

                    <br /> @comm.comment
                }
            }

        </div>
        <div class="col-lg-12">
            @Model.comments.
        </div>
        <div id="form_comment">
                     
        </div>
    </div>
</div>
