﻿@model IEnumerable<WebApplication1.critics>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.critic_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.critic_date_published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.critic_date_reviewed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_published)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.games.name)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.critic_content.Length > 50)
            {
                @item.critic_content.Substring(0, 50);
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.critic_date_published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.critic_date_reviewed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_published)

        <td>
            @Html.DisplayFor(modelItem => item.games.name)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.critic_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.critic_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.critic_id })
        </td>
    </tr>
}

</table>
