﻿
@{
    JCModelEntities db = new JCModelEntities();
    ViewBag.Title = "Toutes les critiques publiés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">La liste des critiques</h1>
<hr />
@{
    foreach (var item in db.critics)
    {
        if (item.is_published == true)
        {
            <div class="col-lg-12 col-sm-12">
                <div class="col-lg-3">
                    <a href="/Games/Details/@item.games.game_id">
                        <img src="~/Images/@item.games.jacket" class="image" />
                    </a>
                </div>
                <div class="col-lg-9">
                    <h2>@item.title</h2>
                </div>
                <div class="game-critique">
                    @if (item.critic_content.Length > 600)
                    {
                        @Html.Raw(item.critic_content.Substring(0, 600) + "...");
                    }
                    else {
                        @Html.Raw(item.critic_content);
                    }
                </div>
                <hr />
                <p class="text-center"><a href="/critics/Details/@item.critic_id" target="_self">Voir la suite de la critique de @item.games.name ?</a></p>
            </div>
            <hr />
        }
    }
}

