﻿@model WebApplication1.comments

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>comments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_reviewed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_reviewed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_published)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_published)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.critics.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.critics.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_comment }) |
    @Html.ActionLink("Back to List", "Index")
</p>
