﻿@model IEnumerable<WebApplication1.comments>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_reviewed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.critics.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user.username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_reviewed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.critics.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_comment }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_comment }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_comment })
        </td>
    </tr>
}

</table>
