﻿@model IEnumerable<WebApplication1.consoles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.console_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.console_displayname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.console_birthday_eu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.console_birthday_us)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.console_birthday_jap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.constructor_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.console_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.console_displayname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.console_birthday_eu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.console_birthday_us)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.console_birthday_jap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.constructor_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.console_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.console_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.console_id })
        </td>
    </tr>
}

</table>
