﻿@{ 
    JCModelEntities db = new JCModelEntities();
}
<h2 class="text-center" data-sr="over 10s spin 120deg, roll 10deg">Jeux récemment critiqués</h2>
@{
    foreach (var item in db.critics)
    {
        if (item.is_published == true)
        {
            <div class="col-lg-4">
                <article class="card">
                    <header class="card__thumb">
                        <a href="/Games/Details/@item.games.game_id">
                            <img src="~/Images/@item.critic_header" class="image" />
                        </a>
                    </header>
                    <div class="card__body">
                        <div class="card__category"><a href="#">Critique de @item.games.name</a></div>
                        <h2 class="card__title"><a href="/critics/Details/@item.critic_id" style="color:#000;">@item.title</a></h2>
                        <div class="card__subtitle" style="color:#000;">@item.subtitle</div>
                        <p class="card__description">
                            @if (item.critic_content.Length > 400)
                            {
                                @Html.Raw(item.critic_content.Substring(0, 400) + "...");
                            }
                            else {
                                @Html.Raw(item.critic_content);
                            }
                        </p>
                    </div>

                </article>
            </div>
        }
    }
}
