﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JeuxCritique.com - Critiques de jeux vidéo essentiellement. </title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/article.css">
    <link rel="stylesheet" href="~/Content/site.css">
</head>

<body>
    <div id="header-wrapper">
        <div class="container">
            <div class="col-xs-12">
                <h1 style="text-align:center;padding-top:5px;"><a href="/"><img style="height:50px;" src="~/Content/images/jeuxcritique.png" /></a></h1>
            </div>
            <div class="recherche_p col-xs-12">
                @Html.Partial("_Search")
            </div>
            <div class="col-xs-12">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                       @Html.Partial("_Menu")
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

        </div>
    </div>

    <div id="wrapper">
        <div id="featured-wrapper">
            <div id="featured" class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>

    <script src="~/Content/js/scroll-reveal.js"></script>
    <script>

      window.sr = new scrollReveal();

    </script>
</body>
</html>
