﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JeuxCritique.com - Critiques de jeux vidéo essentiellement. </title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/animate.css" rel="stylesheet" />


</head>
<body>
    <div id="header-wrapper">
        <div class="container">
            <div class="col-xs-12">
                <h1 style="text-align:center;padding-top:5px;"><a href="/"><img style="height:50px;" src="~/Content/images/jeuxcritique.png" /></a></h1>
            </div>



            <div class="col-xs-12">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @Html.Partial("_Menu")
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

        </div>
    </div>
    <div id="header-featured">
        <div class="text-featured">
            <p class="bounceOut">Bienvenue sur JeuxCritique.com</p>
        </div>
        <div class="recherche_p recherche_absolute col-xs-12">

            @Html.Partial("_Search")

        </div>
    </div>
            @RenderBody()
    <div id="wrapper">
        <div id="featured-wrapper">
            <div id="featured" class="container">
                @Html.Partial("_GamesPartial")
            </div>
        </div>
        <div id="extra" class="container">
            <h2 data-sr="over 10s move 24px">Jouer à ces jeux, prendre du plaisir et les critiquer.</h2>
            <span data-sr="wait 3s over 10s move 50px">C'est en tout cas le parti pris de JeuxCritique.com, parce que nous aimons jouer mais aussi donner notre avis.</span> 
            <a href="/Games/Index" class="button" >Voir plus de jeux ? Cliquez.</a>
        </div>
    </div>

    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
    <script src="~/Content/js/scroll-reveal.js"></script>
    <script>

      window.sr = new scrollReveal();

    </script>
</body>
</html>
