﻿<li>@Html.ActionLink("Jeux", "Index", "Games")</li>
<li>@Html.ActionLink("Liste des critiques répertoriés", "ShowCritics", "critics")</li>
<li>@Html.ActionLink("Critiques de la presse spécialisée", "Index", "PressNote")</li>