﻿@model WebApplication1.games

@{
    ViewBag.Title = "Details";
    JCModelEntities db = new JCModelEntities();
    int count = 0;
    foreach (var critic in db.critics)
    {
        if (Model.game_id == critic.game_id && critic.is_published == true)
        {

            count++;
        }
    }
}

<div class="row">

    @if (Request.IsAuthenticated)
            {
        <div style="position:relative;">
            <div style="position:absolute; z-index:999; right:0;">
                <a href="/Games/Edit/@Html.DisplayFor(modelItem => Model.game_id)" class="btn btn-default">Modifier le jeu</a>
            </div>
        </div>
    }

    <div class="col-lg-12">
        <h1 class="text-center">
            <a href="/Games/Details/@Model.game_id" target="_self">
                @Html.DisplayFor(modelItem => Model.name)
            </a>
        </h1>
        <br />
    </div>
    <div class="col-lg-2">
        <img src="~/Images/@Model.jacket" class="image-elements" />
    </div>

    <div class="col-lg-10 row">
        <div class="col-lg-3">
            La norme européenne PEGI :
            <br />
            <a href="http://www.pegi.info/be_fr/index/id/837/" target="_blank"><i class="fa fa-info-circle" style="color:cornflowerblue"></i> Comprendre la norme PEGI</a>
        </div>
        <div class="col-lg-9">
            @switch (int.Parse(Model.pegi))
            {
                case 3:
                    <a href="#" title="Avec cette classification, le contenu du jeu est considéré comme adapté à toutes les classes d'âge. Une certaine violence dans un contexte comique (par exemple les formes de violence présentes dans les dessins animés de type cartoon comme Bugs Bunny ou Tom & Jerry) est acceptable. L’enfant ne doit pas pouvoir associer le personnage à l'écran avec des personnages réels, ils doivent être totalement imaginaires. Le jeu ne doit pas comporter de sons ou d’images susceptibles d’effrayer ou de faire peur à de jeunes enfants.Le jeu ne doit faire entendre aucun langage grossier."><img src='~/Content/images/pegi/pegi-3.gif' /></a>;
                    break;
                case 7:
                    <img src='~/Content/images/pegi/pegi-7.gif' />;
                    break;
                case 12:
                    <img src='~/Content/images/pegi/pegi-12.gif' />;
                    break;
                case 16:
                    <img src='~/Content/images/pegi/pegi-16.gif' />;
                    break;
                case 18:
                    <img src='~/Content/images/pegi/pegi-18.gif' />;
                    break;
                default:
                    <p>Aucune signalétique PEGI connue pour le moment.</p>;
                    break;
            }


        </div>
        <br />
        <div class="col-lg-3">Description du jeu :  </div> <div class="col-lg-9">@Html.Raw(Model.description) </div>
        <br />
        <div class="col-lg-3">Fait par : </div> <div class="col-lg-9">
            @Html.DisplayFor(modelItem => Model.developpers.name)
        </div>
        <br />
        <div class="col-lg-3">Edité par : </div> <div class="col-lg-9">
            @Html.DisplayFor(modelItem => Model.editors.name)
        </div>
        <br />

    </div>
    <div class="col-lg-12">
        <div style="float:left">
            Noter le jeu
            <div class="rating">
                <input type="radio" name="starsrating" id="stars-rating-5" value="5">
                <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                <input type="radio" name="starsrating" id="stars-rating-4" value="4">
                <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                <input type="radio" name="starsrating" id="stars-rating-3" value="3">
                <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                <input type="radio" name="starsrating" id="stars-rating-2" value="2">
                <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                <input type="radio" name="starsrating" id="stars-rating-1" value="1">
                <label for="stars-rating-1"><i class="fa fa-star"></i></label>
            </div>
        </div>
      
    </div>
    
</div>
<hr />
    @if (count != 0)
    {   
        <h2 class="text-center">
        Les critiques associés au jeu (
            @if (count == 1)
                {
            @Html.Raw("une critique");
                }
                else {
            @Html.Raw(count + "critiques");
                } )
        </h2>
        <div class="col-lg-12 row">


        
        @{
            foreach (var item in Model.critics)
            {
                if (item.is_published == true)
                {
                    <div class="col-lg-12 col-sm-12">
                        <div class="col-lg-12">
                            <h2>@item.title</h2>
                        </div>
                        <div class="game-critique">
                            @if (item.critic_content.Length > 600)
                            {
                                @Html.Raw(item.critic_content.Substring(0, 600) + "...");
                            }
                            else {
                                @Html.Raw(item.critic_content);
                            }
                        </div>
                        <hr />
                        <p class="text-center"><a href="/critics/Details/@item.critic_id" target="_self">Voir la suite de la critique de @item.games.name ?</a></p>
                    </div>
                    <hr />
                }
            }
        }
    </div>
            }
            else {
                <div class="col-lg-12">Pas encore de critiques pour ce jeu.</div>
            }
<div class="col-lg-12 controls">
    <a href="/Games/Critics/@Model.game_id" class="btn btn-lg btn-primary btn-block" type="submit">Ecrire une critique ?</a>

</div>


