﻿@model IEnumerable<WebApplication1.games>

@{
    ViewBag.Title = "Index des jeux à critiquer";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-info" role="alert">@Html.Raw(ViewBag.Message)</div>
}
<script>
  $(function() {
    $( document ).tooltip();
  });
</script>
@foreach (var item in Model)
{
    JCModelEntities db = new JCModelEntities();
        int count = 0;
        foreach (var critic in db.critics)
        {
            if (item.game_id == critic.game_id && critic.is_published == true)
            {
                
                count++;
            }
        }
    
        <div class="row">
            @if (Request.IsAuthenticated)
            {
            <div style="position:relative;">
                <div style="position:absolute; z-index:999; right:0;">
                    <a href="/Games/Edit/@Html.DisplayFor(modelItem => item.game_id)" class="btn btn-default">Modifier le jeu</a>
                </div>
            </div>
            }

             
            <div class="col-lg-12">
                <h1 class="text-center">
                    <a href="/Games/Details/@item.game_id" target="_self">
                        @Html.DisplayFor(modelItem => item.name)
                    </a> 
                </h1>
                <br />
            </div>
            <div class="col-lg-2">
                <img src="~/Images/@item.jacket" class="image-elements" />
            </div>

            <div class="col-lg-10 row">
                <div class="col-lg-3">
                    La norme européenne PEGI : 
                    <br />
                    <a href="http://www.pegi.info/be_fr/index/id/837/" target="_blank"><i class="fa fa-info-circle" style="color:cornflowerblue"></i> Comprendre la norme PEGI</a> 
                </div> 
                <div class="col-lg-9">
                    @switch (int.Parse(item.pegi)) {
                        case 3:
                                <a href="#" title="Avec cette classification, le contenu du jeu est considéré comme adapté à toutes les classes d'âge. Une certaine violence dans un contexte comique (par exemple les formes de violence présentes dans les dessins animés de type cartoon comme Bugs Bunny ou Tom & Jerry) est acceptable. L’enfant ne doit pas pouvoir associer le personnage à l'écran avec des personnages réels, ils doivent être totalement imaginaires. Le jeu ne doit pas comporter de sons ou d’images susceptibles d’effrayer ou de faire peur à de jeunes enfants.Le jeu ne doit faire entendre aucun langage grossier."><img src='~/Content/images/pegi/pegi-3.gif' /></a>;
                            break;
                        case 7:
                            <img src='~/Content/images/pegi/pegi-7.gif' />;
                            break;
                        case 12:
                            <img src='~/Content/images/pegi/pegi-12.gif' />;
                            break;
                        case 16:
                            <img src='~/Content/images/pegi/pegi-16.gif' />;
                            break;
                        case 18:
                            <img src='~/Content/images/pegi/pegi-18.gif' />;
                                break;
                            default:
                           <p>Aucune signalétique PEGI connue pour le moment.</p>;
                                break;
                        }
                </div>
                <br />
                <div class="col-lg-3">
                Nombre de critiques :  
                </div> 

                <div class="col-lg-9">
                  @if (count == 0)
                    {
                        <p>Pas encore de critiques</p>
                    } else if (count == 1)
                    {
                        <p> une critique</p>
                    } else {
                        <p> @count critiques </p>
                    }
                </div>
                <br />
                <div class="col-lg-12">
                        <a href="/Games/Critics/@item.game_id" class="text-center">Ecrire une critique ?</a>
                    </div>
                <br />
                
            </div>
            <div class="col-lg-12">
                <div style="float:left">
                    Noter le jeu
                    <div class="rating">
                        <input type="radio" name="starsrating" id="stars-rating-5" value="5">
                        <label for="stars-rating-5"><i class="fa fa-star"></i></label>
                        <input type="radio" name="starsrating" id="stars-rating-4" value="4">
                        <label for="stars-rating-4"><i class="fa fa-star"></i></label>
                        <input type="radio" name="starsrating" id="stars-rating-3" value="3">
                        <label for="stars-rating-3"><i class="fa fa-star"></i></label>
                        <input type="radio" name="starsrating" id="stars-rating-2" value="2">
                        <label for="stars-rating-2"><i class="fa fa-star"></i></label>
                        <input type="radio" name="starsrating" id="stars-rating-1" value="1">
                        <label for="stars-rating-1"><i class="fa fa-star"></i></label>
                    </div>
                </div>
              </div >
 
         </div >
 

         <hr />


}
<script>
            $(function () {
                var $radios = $('input:radio[name=starsrating]');
                if ($radios.is(':checked') === false) {
                    $radios.filter('[value=""]').prop('checked', true);
                }
            });

            $(function () {
                var $radios = $('input:radio[name=starsrating1]');
                if ($radios.is(':checked') === false) {
                    $radios.filter('[value=""]').prop('checked', true);
                }
            });

</script>