﻿
@{
    ViewBag.Title = "UploadImages";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("UploadImages", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
    <div class="row">
        <span class="span4">
            <input type="file" name="uploadImages" multiple="multiple" class="input-files" />
        </span>
        <span class="span2">
            <input type="submit" name="button" value="Upload" class="btn btn-upload" />
        </span>
    </div>
}

